.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.loader-item {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* header block */

*{
    font-family: Arial;
}

.my_header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 10px 50px;
}

.title{
    color: gray;
    font-size: 40px;
}

.update_btn{
    align-self: center;
    justify-self: center;

    border-radius: 10px;
    border: none;
    color: gray;
    font-size: 30px;
}

.text-refresh-none {
    display: none;
}

/* wrapper*/

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-column-gap: 4em;
    margin: 10px 50px;
}

.app-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

#location{
    grid-column: 1/3;
    color: #484848;
    margin: 0;
    font-size: 35px;
}

#temp-icon{
    width:130px;
    height:130px;
}

.temp{
    align-self: center;
    justify-self: center;
    color: gray;
    font-size: 70px;
    font-weight: bold;
}

.main_list{
    margin: 0;
    padding-left: 0;
}

li{
    list-style-type: none;
    background: grey;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

p{
    margin: 0;
    padding: 0;
}

.description{
    display: flex;
    justify-content: space-between;
}


.select-cities{
    font-size: 35px;
    color: grey;
    font-weight: bold;
}

#search-form{
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}

#search-input{
    border: none;
    border-radius: 10px;
    color: gray;
    font-size: 30px;
    background: #eee;
}

#search-btn{
    border-radius: 50%;
    border: none;
    background-color: #303030;
    color: white;
    font-size: 35px;
    width: 40px;
    height: 40px;
}

/* block wrapper */

.block-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-column-gap: 4em;
    margin: 10px 50px;
}


.description-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-elem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.name-block{
    color: #484848;
    font-size: 30px;
    margin: 0;
}

.temp-block{
    color: gray;
    font-size: 40px;
    font-weight: bold;
}

.icon-block{
    width:100px;
    height:100px;
}

.btn-block{
    border-radius: 50%;
    border-color: black;
    background-color: #303030;
    color: white;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.btn-block > p{
    font-size: 20px;
}

.div-shadow{
    background: wheat;
}

@media screen and (max-width: 1000px) {


    .text-refresh {
        display: none;
    }

    .text-refresh-none {
        display: block;
        width: 60px;
        height: 60px;
    }

    .app-container{
        grid-column: 1/3;
    }

    .main_list{
        grid-column: 1/3;
    }

    .select-cities{
        grid-column: 1/3;
    }

    #search-form{
        grid-column: 1/3;
        justify-self: start;
    }

    .block-wrapper > *{
        grid-column: 1/3;
    }

}









